<div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Side bar -->
        <%- include('./includes/side-bar.ejs') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('./includes/top-bar.ejs') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- <div class="top-bar">
                        <button class="btn btn-success" id="prev-page">
                            <i class="fas fa-arrow-circle-left"></i> Prev Page
                        </button>
                        <button class="btn btn-success" id="next-page">
                            Next Page <i class="fas fa-arrow-circle-right"></i>
                        </button>
                        <span class="page-info">
                            Page <span id="page-num"></span> of <span id="page-count"></span>
                        </span>
                    </div> -->
                    <!-- <div class="top-bar">
                        <button class="btn btn-success" id="prev-page">
                            <i class="fas fa-arrow-circle-left"></i> Prev Page
                        </button>
                        <button class="btn btn-success" id="next-page">
                            Next Page <i class="fas fa-arrow-circle-right"></i>
                        </button>
                        <span class="page-info">
                            Page <span id="page-num"></span> of <span id="page-count"></span>
                        </span>
                    </div> -->
                    <iframe id="pdf-render" src="<%= ebook %>" width="100%" height="600px" style="border: none;">
                        <!-- <canvas id="pdf-render" width="1000px" height="600px"> -->
                        <script src="/js/pdf.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.min.js"
                            integrity="sha256-O6polm3ZRTZEOAneYbvsKty3c3KRcDf20McwtlCga5s="
                            crossorigin="anonymous"></script>
                        <script>
                            // simple.js
                            const url = "<%= ebook %>";
                            let pdfDoc = null,
                                pageNum = 1,
                                pageIsRendering = false,
                                pageNumIsPending = null;

                            const scale = 2;
                            const canvas = document.querySelector('#pdf-render');
                            const ctx = canvas.getContext('2d');

                            // Render the page
                            const renderPage = num => {
                                pageIsRendering = true;

                                // Get page
                                pdfDoc.getPage(num).then(page => {
                                    // Set scale
                                    const viewport = page.getViewport({ scale });
                                    canvas.height = viewport.height;
                                    canvas.width = viewport.width;

                                    const renderCtx = {
                                        canvasContext: ctx,
                                        viewport
                                    };

                                    page.render(renderCtx).promise.then(() => {
                                        pageIsRendering = false;

                                        if (pageNumIsPending !== null) {
                                            renderPage(pageNumIsPending);
                                            pageNumIsPending = null;
                                        }
                                    });

                                    // Output current page
                                    document.querySelector('#page-num').textContent = num;
                                });
                            };

                            // Check for pages rendering
                            const queueRenderPage = num => {
                                if (pageIsRendering) {
                                    pageNumIsPending = num;
                                } else {
                                    renderPage(num);
                                }
                            };

                            // Show Prev Page
                            const showPrevPage = () => {
                                if (pageNum <= 1) {
                                    return;
                                }
                                pageNum--;
                                queueRenderPage(pageNum);
                            };

                            // Show Next Page
                            const showNextPage = () => {
                                if (pageNum >= pdfDoc.numPages) {
                                    return;
                                }
                                pageNum++;
                                queueRenderPage(pageNum);
                            };

                            // Get Document
                            pdfjsLib
                                .getDocument(url)
                                .promise.then(pdfDoc_ => {
                                    pdfDoc = pdfDoc_;

                                    document.querySelector('#page-count').textContent = pdfDoc.numPages;

                                    renderPage(pageNum);
                                })
                                .catch(err => {
                                    // Display error
                                    const div = document.createElement('div');
                                    div.className = 'error';
                                    div.appendChild(document.createTextNode(err.message));
                                    document.querySelector('body').insertBefore(div, canvas);
                                    // Remove top bar
                                    document.querySelector('.top-bar').style.display = 'none';
                                });

                            // // Button Events
                            // document.querySelector('#prev-page').addEventListener('click', showPrevPage);
                            // document.querySelector('#next-page').addEventListener('click', showNextPage);
                        </script>
                        <!-- </canvas> -->
                    </iframe>
                    <!-- <iframe src="localhost:3500/images/uploads/ebooks/thumb_<%= ebook %>" width="800px" height="600px" style="border: none;" /> -->
                    <!-- 
                    <object data="localhost:3500/images/uploads/ebooks/thumb_<%= ebook %>"
                        type="application/pdf" width="100%" height="100%">
                        <iframe src="localhost:3500/images/uploads/ebooks/thumb_<%= ebook %>" width="100%" height="100%" style="border: none;">
                            <p>Your browser does not support PDFs.
                                <a href="localhost:3500/images/uploads/ebooks/thumb_<%= ebook %>">Download the PDF</a>.</p>
                        </iframe>
                        
                    </object> -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website
                            <script>document.write(new Date().getFullYear())</script></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>